body {
  margin: 0;
  font-family: Abel, "Trebuchet MS", Calibri, Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(#000011, #00002f) no-repeat 100% 100%;
  color: #999;
  font-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
